<!-- Inclui o layout do cabeçário-->
<%- include('../headerLayout.ejs')%>
<div class="row">
		<div class="col-lg-4 col-md-6">
               
                <%=mensagem%>
        </div>
		
		
</div>

    <!-- Inclui o layout de rodapé-->
    <%- include('../footerLayout.ejs')%>
    